## <!TextGen not found for 'org.iets3.ears.gxw.structure.ComplexEventDrivenUntil'!>## When liquid level 1 is reached , the valve 0 shall close
[] (liquid_level_1_is_reached -> valve_0close)

## <!TextGen not found for 'org.iets3.ears.gxw.structure.ComplexEventDrivenUntil'!>## When liquid level 2 is reached , the valve 1 shall close
[] (liquid_level_2_is_reached -> valve_1close)

## <!TextGen not found for 'org.iets3.ears.gxw.structure.NormalRisingEdgeReq'!>## When liquid level 2 is reached , the stirring motor shall start until one minute timer expires or emergency button is pressed
[] (!liquid_level_2_is_reached && X(liquid_level_2_is_reached)) -> X(stirring_motorstart W (one_minute_timer_expires || emergency_button_is_pressed))

## <!TextGen not found for 'org.iets3.ears.gxw.structure.NormalRisingEdgeReq'!>## When one minute timer expires , the valve 2 shall open until two minute timer expires or emergency button is pressed
[] (!one_minute_timer_expires && X(one_minute_timer_expires)) -> X(valve_2open W (two_minute_timer_expires || emergency_button_is_pressed))

## When emergency button is pressed , the valve 0 shall close
[] (emergency_button_is_pressed -> valve_0close)

## When emergency button is pressed , the valve 1 shall close
[] (emergency_button_is_pressed -> valve_1close)

## When emergency button is pressed , the valve 2 shall close
[] (emergency_button_is_pressed -> valve_2close)

## When emergency button is pressed , the stirring motor shall stop
[] (emergency_button_is_pressed -> stirring_motorstop)


INPUT one_minute_timer_expires, two_minute_timer_expires, start_button_is_pressed, liquid_level_1_is_reached, liquid_level_2_is_reached, emergency_button_is_pressed
OUTPUT valve_1open, valve_1close, stirring_motorstart, one_minute_timerstart, stirring_motorstop, valve_2close, valve_0close, valve_2open, valve_0open, two_minute_timerstart
